<div class="card">
  <div class="card-header">
    <h2 class="product-title">{{ product.title }}</h2>
  </div>
  <div class="card-image">
    <img [src]="product.image" alt="{{ product.title }}" class="product-image" />
  </div>
  <div class="card-body">
    <p class="product-description">{{ product.description | slice:0:100 }}...</p>
  </div>
  <div class="card-footer">
    <button class="buy-button" (click)="addProduct(product)">Add to Cart</button>
    <p class="product-price">{{ product.price | currency }}</p>
  </div>
</div>
